body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: sans-serif;
    color: #000000;  
    margin: 10px;
}

nav{
    color:black;
    text-decoration: none;
}

nav li{
    
    list-style-type: none;
    display: inline-block;
}

#container{
    margin: auto;
    width : 810px;
}

div{
    margin-top: 20px;
    margin-bottom: 20px;
}