html {
    font-family: sans-serif;   
    margin:0;
    padding:0;
    background-color: gray;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
}

a:hover{
   font-weight: bold; 
}

nav{
    width : 800px;  
    margin-top : 40px;
    text-align:center; 
    background-color: rgba(213, 215,215, 0.20);
    opacity:0.70;
}

nav li{  
    list-style-type: none;
    display: inline-block;     
}


nav a{
    padding-top : 10px;
    padding-bottom: 10px; 
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    color:black; 
}

nav a:hover{ 
    height: 40px;
    color:black; 
    background-color: rgba(209, 162,26, 0.30);
    font-weight: normal;
}

#container{
    margin: auto;
    width : 800px;
}

div{
    margin-top: 20px;
    margin-bottom: 20px;
}

.right{
    float:right;
    text-align:right;
}

.left{
    float:left;
    text-align:left;
    margin-top: 7px;
}

#bande{
    color: white; 
    height: 20px;
    background-color: black;
    margin: -8px;
    padding-right: 20px;
    padding-top: 5px;
    opacity:0.75;
}

#bande a{
    color: white; 
    font-size: 11px;
    font-weight: bold;
}

#bande span{
    margin-left: 25px;
}

.lang-selected {
    text-decoration: none;
}


#bandeshop span{
    display: inline-block;
    margin-bottom: 50px;
    margin-left: 100px;
}

.range{
    margin-top: 40px;
}

.cart{
    background-image: url(../images/cartbg.png);
    height : 40px;
    width: 150px;
    padding : 10px;
    padding-left : 42px;
    font-size : 13px;
    color: white;
}

#content{
    width: auto;
    padding : 40px;
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: rgba(213, 215,215, 0.35);
}


footer{
    background-color: rgba(0,0,0,0.5);
    margin-top : 40px;
    color: white;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    border-top: rgba(0,0,0,0.85) 2px solid;
    font-size: 12px;
}

footer td{
    padding-top: -12px; 
    text-align: center;
    opacity: 0.75;
}

footer table{
    width : 800px;
    margin: auto;  
}

.big{
    font-size: 16px;
    font-weight: bolder;
    text-shadow: 0.1em 0.1em 0.2em black;
}



.copyright{ 
    margin : auto;
    padding-top: 40px;
    left: 12px;
    color: white;
    opacity:0.50;
    font-size: 13px;
    position: absolute;
    bottom:0;  
}

.copyright a{
    opacity:0.95;
    color: white;
}