html {
    font-family: sans-serif;   
    margin:0;
    padding:0;
    background-color: gray;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */   
}

h2{
  
}

a:hover{
   font-weight: bold; 
}


nav {
 height: 40px;
 width : 800px;  
 margin-top : 40px;
 text-align:center;
 background-color: rgba(213, 215,215, 0.40);
 border-bottom: 1px rgba(0, 0,0, 0.65) solid;
 border-top: 1px rgba(0, 0,0, 0.65) solid;
}
 
nav ul {
 margin:auto;
 list-style-type:none; 
}

nav li {
 float:left; 
 margin:auto;
 padding:0;
}

nav li a {
 display:block;
 width:auto;
 color:white;
 padding-top : 10px;
 padding-bottom: 5px; 
 padding-left: 40px;
 padding-right: 40px;
 text-decoration: none;
 text-align:left;
 color:black; 
}

nav li a:hover {
 height: 25px;
 color:black; 
 background-color: rgba(209, 162,26, 1);
 font-weight: normal;
}
 
nav ul li ul {
 display:none;
 padding-top: 6px;
}
 
nav ul li:hover ul {
 display: block;
 padding-top: 5px;
}

nav li:hover ul li {
 float:none;
 background-color: rgba(213, 215,215,0.95);
 border-bottom: 1px rgba(0, 0,0, 0.65) solid;
 margin-left: -20px;
}
 
nav li ul {
 position:absolute;
}
 

#container{
    margin: auto;
    width : 800px;
}

div{
    margin-top: 20px;
    margin-bottom: 20px;
}

.right{
    float:right;
    text-align:right;
}

.left{
    float:left;
    text-align:left;
    margin-top: 7px;
}

header{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: black;
    opacity:0.75;   
    padding-top:3px;
}

.visuel{
    text-align: center;
    height : 20px;
    border-radius: 2px;
    border: none;
    padding:auto;
    background-color: #cccccc;
    opacity: 0.40;
}

.visuellink{ 
    text-align: center; 
    border-radius: 2px;
    border: none;
    padding: 4px;
    background-color: darkgrey;
    opacity: 0.75;
}

.visuelwhite{ 
    text-align: center; 
    border-radius: 2px;
    border: none;
    padding: 4px;
    background-color: white;
    opacity: 0.75;
}

#bande{
    color: white; 
    height: 25px; 
    padding:4px;
    width: 800px;
    margin:auto;
    font-size: 12px;
}

#bande a{
    color: white;
    font-weight: bold;   
}

#bande a:hover{
    color: coral;
}

#centrer{
    width: 800px;
    margin: auto;
}


.lang-selected {
    text-decoration: none;
}


#bandeshop span{
    display: inline-block;
    margin-bottom: 50px;
    margin-left: 100px;
}

.range{
    margin-top: 40px;
}

.cart{
    background-image: url(../images/cartbg.png);
    height : 40px;
    width: 150px;
    padding : 10px;
    padding-left : 42px;
    font-size : 13px;
    color: white;
}

#content{
    width: auto;
    padding : 40px;
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: rgba(213, 215,215, 0.35);
}


footer{
    background-color: rgba(0,0,0,0.5);
    margin-top : 40px;
    color: white;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    border-top: rgba(0,0,0,0.85) 2px solid;
    font-size: 12px;
}

footer td{
    padding-top: -12px; 
    text-align: center;
    opacity: 0.75;
}

footer table{
    width : 800px;
    margin: auto;  
}

.big{
    font-size: 16px;
    font-weight: bolder;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.copyright{ 
    margin : auto;
    padding-top: 40px;
    left: 12px;
    color: white;
    opacity:0.50;
    font-size: 13px;
}

.copyright a{
    opacity:0.95;
    color: white;
}

.red{ 
    color: white; 
    margin-left: 10px; 
    font-size: 12px; 
    border-radius: 4px; 
    padding: 5px; 
    background-color: rgba(238,59,59,0.75); 
    position: absolute; 
}

.red2{ 
    color: white; 
    font-size: 12px; 
    border-radius: 4px; 
    padding: 5px; 
    background-color: rgba(238,59,59,0.75); 
}

.button{
    color: white;
    text-align: center;
    height : 35px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    background-color: dodgerblue;
}

.buttonLow{
    color: white;
    text-align: center;
    height : 35px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    background-color: darkgrey;
    margin-right:10px;
}


.small{
    font-size: 11px;
}
.small a{
    color: black;
}



.bubble
{
color : #333333;
position: relative;
padding: 10px;
width: 200px;
height: 65px;
background: rgba(255,255,255,0.65);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 11px 15px;
border-color: rgba(255,255,255,0.65) transparent;
display: block;
width: 0;
z-index: 1;
top: -15px;
left: 114px;
}

.small{ 
    font-size: 11px; 
} 

.small a{ 
    color: black; 
}

#center_content{ 
    text-align: center; 
}

#center_content p{ 
    margin-top : 20px; 
}

article{
    border-radius: 2px;
    background-color: white;
    background: rgba(255,255,255,0.65);
    text-align: center;
    width : 200px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 2px rgba( 0,0,0,0.25);
            box-shadow: 2px 2px 2px rgba( 0,0,0,0.35); 
}

article:hover{
    border: 1px lightyellow groove;
}

.thumbsimg{
    padding: 15px;;
    width : 170px; 
    /*height: 190px;*/
    border-radius: 2px;
}

.createintro{
    background-color: #DEB887;
    border-bottom: solid;
    border-top: solid;
    text-align: center;
    font-weight: bold;
}

.form {
    float:left;
}

.form1 {
    float:right;
}

.label{
    margin-left:4px;
    font-size: 11px;
    color: white;
    text-align: center;
    height : 10px;
    border-radius: 4px;
    border: none;
    padding: 2px;
    background-color: crimson;
}


.inputs  { 
    background: #f5f5f5; 
    font-size: 0.8rem; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px; 
    border: none; 
    padding: 10px 10px; 
    width:150px; 
    margin-top:5px;
    margin-bottom: 20px; 
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.4 ); 
    clear: both; 
} 
.inputs:focus { 
    background: #fff; 
    box-shadow: 0px 0px 0px 3px rgba(4,108,127,0.5), inset 0px 1px 2px rgba( 0,0,0,0.2 ), 0px 4px 4px rgba( 0,0,0,0.25 ); 
    outline: none;    
} 
 

.pic {
  height: 200px;
  width: 200px;
  border: 8px solid #fff; 
  /*margin: 20px;*/
  overflow: hidden;   
  -webkit-box-shadow: 2px 2px 2px rgba( 0,0,0,0.25);
          box-shadow: 2px 2px 2px rgba( 0,0,0,0.25); 
}
 

.focus {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.focus:hover {
  border: 50px solid #000;
  border-radius: 50%;
}
		
.backcontent{
    background : rgba( 255,255,255,0.65 ); 
    width: 650px;
    padding : 30px;
    -webkit-box-shadow: 2px 2px 2px rgba( 0,0,0,0.25);
            box-shadow: 2px 2px 2px rgba( 0,0,0,0.35); 
}		 
		 

.mini{
    width: 60px;
}

.btn-supp{
    background-image: url(../images/bt-supprimer.gif);
    background-repeat: no-repeat;
    border:none;
    width:10px;
    height:10px;
    margin:0;
    padding:0;
}


.btn-up{
    background-image: url(../images/ico-plus.gif);
    background-repeat: no-repeat;
    border:none;
    width:11px;
    height:11px;
    margin-left:5px;
    padding:0;
    border-radius: 50px;
}

.btn-down{
    background-image: url(../images/ico-moins.gif);
    background-repeat: no-repeat;
    border:none;
    width:11px;
    height:11px;    
    margin-right: 5px;
    padding:0;
    border-radius: 50px;
}


.promo{
    color: white;
    background-image: url(../images/smallpromo.png);
    background-repeat: no-repeat;
    border:none;
    width:50px;
    height:50px;
    margin-left: -90px;
    margin-top: -55px;
    padding-top:15px;
    position:absolute;
}


.promo2{
    color: white;
    background-image: url(../images/smallpromo.png);
    background-repeat: no-repeat;
    border:none;
    width:50px;
    height:50px;
    margin-left: -200px;
    margin-top: 45px;
    padding-top:15px;
    padding-left:5px;
    position:absolute;
}

.caddie{
    width : 700px;
    text-align:center;
    margin-bottom: 40px;
    margin-top: 40px;
    border-collapse: collapse
}

.caddie td{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.45);
    background-color: rgba(185,185,185,0.35);
}

.caddie tr:hover{
    background-color: rgba(224,126,0,0.35);
}

.caddie th{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.45);
}


.larger{
    width : 300px;
}

.thumbsimgbig{
    padding: 15px;;
    width : 300px; 
    /*height: 190px;*/
    border-radius: 2px;
     -webkit-box-shadow: 2px 2px 2px rgba( 0,0,0,0.25);
            box-shadow: 2px 2px 2px rgba( 0,0,0,0.35); 
    border :5px solid #ffffff;
    margin-right: 20px;
}

.gras{
    font-weight:bolder;
}

.caddie2{
    width : 650px;
    text-align:center;
    border-collapse: collapse
}

.caddie2 td{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.45);
    background-color: rgba(185,185,185,0.35);
}

.caddie2 tr:hover{
    background-color: rgba(224,126,0,0.35);
}

.caddie2 th{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.45);
}